.change-password-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.change-password-form {
    flex: 100%;
    margin: 0 auto;
    width: 320px;
    padding: 24px;
}

.change-password__btn {
    margin-bottom: 8px;
}
