.profile-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.profile-form {
    display: flex;
    max-width: 400px;
    margin-bottom: 0;
    padding: 24px;
    flex-direction: column;
    flex: 1 1 100%;
}

.profile-page__btn {
    margin-bottom: 8px;
}
