.icon-btn {
    padding: 12px;

    font-size: 16px;
    cursor: pointer;
    background: inherit;
    border: 0;
    cursor: pointer;

    .icon-btn:active,
    .icon-btn:hover,
    .icon-btn:focus {
        background-color: red;
    }
}
